:root {
  --bg: #252836;
  --primary-color: #1f1d2b;
  --secondary-color: #333645;
  --acent-color: #abbbc2;
  --overlay-color: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg);
  color: var(--acent-color);
}