.selectBox {
  position: relative;
  display: inline-block;
  width: 100px;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
}

.selectBox select {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.selectBox::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.selectBox {
  position: relative;
  display: inline-block;
  width: 200px;
  background-color: var(--primary-color);
  border-radius: 5px;
  overflow: hidden;
}

.selectBox select {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  color: white;
}

.selectBox::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.selectBox select:hover,
.selectBox select:focus {
  background-color: transparent
}

.selectBox select option:hover {
  background-color: #c0c0c0;
}

.selectBox select option:checked {
  background-color: #007bff;
  color: #fff;
}
.selectBox select:hover,
.selectBox select:focus {
  border: 1px solid white;
}

.selectBox select option:hover {
  background-color: #c0c0c0;
}

.selectBox select option:checked {
  background-color: #007bff;
  color: #fff;
}
